# NODE MODULES
/node_modules

# JS FILES (in base_game and mods folder)
/javascript

# PACKAGE-LOCK
package-lock.json

ESLINT
.eslintrc.json
eslint.config.mjs

# ENVIRONMENT INSTALL
env_install.sh

# RESOURCE
/resources

